spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  sql:
    init:
      mode: never

logging:
  level:
    root: INFO
    org.hibernate.sql: INFO
