spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl.auto: create-drop
        default_schema: public
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG # 실행되는 모든 SQL 쿼리
    org.hibernate.tool.schema: DEBUG # DDL 스키마 작업 관련 로그
    org.springframework.orm.jpa: DEBUG # JPA 관련 Spring 프레임워크 로그
    org.springframework.transaction: DEBUG # 트랜잭션 관련 로그
    com.zaxxer.hikari: DEBUG # HikariCP 연결 풀 관련 로그
